streamlit
PyPDF2
numpy
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
nltk
faiss-cpu
transformers==4.36.2
sentence-transformers
rank-bm25
langchain
langchain-community
pip==25.0.1
